$header-dark: #3F465F;
$header-light: #fff;


// $background-dark: #4C5472;
// $background-light: #73848B;
$background-dark: linear-gradient(89.81deg, rgba(38, 81, 109, 0.8) 0.16%, rgba(70, 58, 115, 0.8) 99.83%);
$background-light: linear-gradient(89.81deg, rgba(54, 110, 243, 0.8) 0.16%, rgba(133, 74, 225, 0.8) 83.74%);
$item-dark: #313647;
$item-light: #fff;

$text-dark: #fff;
$text-light: #000;

$black: #232323;
$white: #fff;

$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;