.header {
    background-color: white;
    padding: 23px 0 21px 0;

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            list-style: none;
            display: flex;
            min-width: 675px;
            justify-content: space-between;
        }
    }

    .switch {
        position: absolute;
        right: 100px;
        top: 0;
    }
}