@import '../../scss/variables';

.header {
    padding-top: 25px;

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            list-style: none;
            display: flex;
            min-width: 675px;
            justify-content: space-between;


            li {
                cursor: pointer;
                transition: all 0.5s ease;

                &#light {
                    color: $text-light;
                }

                &#dark {
                    color: $text-dark;
                }

                &.active {
                    color: red;
                }
            }

            li:hover {
                color: Red;
            }
        }
    }

    .button-switch {
        cursor: pointer;
        border: none;
    }

    .img-switch {
        position: absolute;
        right: 100px;
        top: 0;
    }
}

.light {
    background-color: $header-light;
    color: $text-light;

    div {
        li {
            a {
                color: $text-light;
            }
        }
    }
}

.dark {
    background-color: $header-dark;
    color: $text-dark;

    div {
        li {
            a {
                color: $text-dark;
            }
        }
    }
}