@import '../variables';

.content {
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &--item {
            text-align: center;
            font-size: 15px;
            margin-bottom: 114px;
            background: $item-light;
            box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 5px;

            img {
                padding: 27px 10px 17px 10px;
            }

            &.light {
                background-color: $item-light;
            }

            &.dark {
                background-color: $item-dark;
            }
        }
    }
}

.player__name {
    margin: 0 auto;
    max-width: 240px;
    font-size: 25px;
}

.player--stats {
    text-align: left;
    padding: 17px 23px 22px 20px;

    img {
        padding: 0;
    }

    .info {
        margin-bottom: 9px;
    }

    .player__team {
        display: flex;
        align-items: center;

        img {
            padding: 0;
            margin-left: 11px;
        }
    }
}