$header-dark: #3F465F;
$header-light: #fff;


$background-dark: #4C5472;
$background-light: #73848B;

$item-dark: #313647;
$item-light: #fff;

$text-dark: #fff;
$text-light: #000;

$black: #232323;
$white: #fff;

$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;