@import './variables';
@import 'libs/normalize';

@import './components/all';

* {
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 25px;
}

.wrapper {
    width: 100%;
    height: 100%;

    &.light {
        background: $background-light;
        color: $text-light;
    }

    &.dark {
        background: $background-dark;
        color: $text-dark;
    }
}



.container {
    margin: 0 auto;
    max-width: 1180px;
}

.content {
    margin-top: 114px;

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 0px;

        &--item {
            text-align: center;
            font-size: 15px;
            margin-bottom: 114px;
            background: $item-light;
            box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 5px;

            img {
                padding: 27px 10px 17px 10px;
            }
        }
    }
}